<form class="auth-form residential-signup-form" {{on "submit" this.handleSubmit}}>
  <h2>Create Residential Account</h2>
  <p class="form-subtitle">For homeowners applying for residential permits</p>
  
  {{#if this.errorMessage}}
    <div class="error-message">{{this.errorMessage}}</div>
  {{/if}}

  <div class="form-section">
    <h3>Select Municipality</h3>
    <div class="form-group">
      <label for="municipality-select">Municipality *</label>
      <select
        id="municipality-select"
        value={{this.selectedMunicipalityId}}
        {{on "change" this.updateSelectedMunicipality}}
        required
        disabled={{this.isLoading}}
      >
        <option value="">Choose your municipality...</option>
        {{#each @municipalities as |municipality|}}
          <option value={{municipality.id}}>{{municipality.name}} - {{municipality.city}}, {{municipality.state}}</option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="form-section">
    <h3>Contact Information</h3>
    
    <div class="form-row">
      <div class="form-group">
        <label for="residential-firstname">First Name *</label>
        <input
          id="residential-firstname"
          type="text"
          value={{this.firstName}}
          {{on "input" (fn this.updateField "firstName")}}
          placeholder="Enter your first name"
          required
          disabled={{this.isLoading}}
        />
      </div>

      <div class="form-group">
        <label for="residential-lastname">Last Name *</label>
        <input
          id="residential-lastname"
          type="text"
          value={{this.lastName}}
          {{on "input" (fn this.updateField "lastName")}}
          placeholder="Enter your last name"
          required
          disabled={{this.isLoading}}
        />
      </div>
    </div>

    <div class="form-group">
      <label for="residential-email">Email Address *</label>
      <input
        id="residential-email"
        type="email"
        value={{this.email}}
        {{on "input" (fn this.updateField "email")}}
        placeholder="Enter your email address"
        required
        disabled={{this.isLoading}}
      />
    </div>

    <div class="form-group">
      <label for="residential-phone">Phone Number</label>
      <input
        id="residential-phone"
        type="tel"
        value={{this.phone}}
        {{on "input" (fn this.updateField "phone")}}
        placeholder="(603) 555-0123"
        disabled={{this.isLoading}}
      />
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="residential-password">Password *</label>
        <input
          id="residential-password"
          type="password"
          value={{this.password}}
          {{on "input" (fn this.updateField "password")}}
          placeholder="Enter password (min 6 characters)"
          required
          disabled={{this.isLoading}}
        />
      </div>

      <div class="form-group">
        <label for="residential-confirm-password">Confirm Password *</label>
        <input
          id="residential-confirm-password"
          type="password"
          value={{this.confirmPassword}}
          {{on "input" (fn this.updateField "confirmPassword")}}
          placeholder="Confirm your password"
          required
          disabled={{this.isLoading}}
        />
      </div>
    </div>
  </div>

  <div class="form-section">
    <h3>Property Address</h3>
    
    <div class="form-group">
      <label for="property-street">Property Address *</label>
      <input
        id="property-street"
        type="text"
        value={{this.propertyStreet}}
        {{on "input" (fn this.updateField "propertyStreet")}}
        placeholder="Street address of your property"
        required
        disabled={{this.isLoading}}
      />
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="property-city">City *</label>
        <input
          id="property-city"
          type="text"
          value={{this.propertyCity}}
          {{on "input" (fn this.updateField "propertyCity")}}
          placeholder="City"
          required
          disabled={{this.isLoading}}
        />
      </div>

      <div class="form-group">
        <label for="property-state">State *</label>
        <select
          id="property-state"
          value={{this.propertyState}}
          {{on "change" (fn this.updateField "propertyState")}}
          required
          disabled={{this.isLoading}}
        >
          <option value="">Select State</option>
          <option value="NH">New Hampshire</option>
          <option value="ME">Maine</option>
          <option value="VT">Vermont</option>
          <option value="MA">Massachusetts</option>
          <option value="CT">Connecticut</option>
          <option value="RI">Rhode Island</option>
          <option value="NY">New York</option>
        </select>
      </div>

      <div class="form-group">
        <label for="property-zip">ZIP Code *</label>
        <input
          id="property-zip"
          type="text"
          value={{this.propertyZip}}
          {{on "input" (fn this.updateField "propertyZip")}}
          placeholder="ZIP Code"
          required
          disabled={{this.isLoading}}
        />
      </div>
    </div>
  </div>

  <button 
    type="submit" 
    class="submit-btn"
    disabled={{this.isLoading}}
  >
    {{#if this.isLoading}}
      Creating Residential Account...
    {{else}}
      Create Residential Account
    {{/if}}
  </button>

  <div class="form-footer">
    <p><small>* Required fields</small></p>
  </div>
</form>