<form class="auth-form" {{on "submit" this.handleSubmit}}>
  <h2>Sign In</h2>
  
  {{#if this.errorMessage}}
    <div class="error-message">{{this.errorMessage}}</div>
  {{/if}}

  <div class="form-group">
    <label for="signin-email">Email Address</label>
    <input
      id="signin-email"
      type="email"
      value={{this.email}}
      {{on "input" this.updateEmail}}
      placeholder="Enter your email"
      required
      disabled={{this.isLoading}}
    />
  </div>

  <div class="form-group">
    <label for="signin-password">Password</label>
    <input
      id="signin-password"
      type="password"
      value={{this.password}}
      {{on "input" this.updatePassword}}
      placeholder="Enter your password"
      required
      disabled={{this.isLoading}}
    />
  </div>

  <button 
    type="submit" 
    class="submit-btn"
    disabled={{this.isLoading}}
  >
    {{#if this.isLoading}}
      Signing In...
    {{else}}
      Sign In
    {{/if}}
  </button>

  <div class="form-footer">
    <a href="#" class="forgot-password">Forgot your password?</a>
  </div>
</form>